########################################
# Ignore Everything
########################################
*

########################################
# Allow Directories
########################################
!*/

########################################
# Allow Source Folder
########################################
!src/
!src/**

########################################
# Allow Java Source Files
########################################
!*.java
!src/**/*.java

########################################
# Allow Git Files
########################################
!.gitignore
!.gitattributes
!README.md

########################################
# Ignore IntelliJ IDEA Files
########################################
.idea/
*.iml
out/

########################################
# Ignore Build Files
########################################
target/
build/
bin/

########################################
# Ignore Logs
########################################
*.log

########################################
# Ignore OS Files
########################################
.DS_Store
Thumbs.db